.blink {
  animation: blink 5s infinite;
  font-size: 200px;
  text-align: center;
}
@keyframes blink {
  0% {
    color: red;
  }
  20% {
    color: green;
  }
  40% {
    color: red;
  }
  60% {
    color: green;
  }
  80% {
    color: red;
  }
  100% {
    color: green;
  }
}
@-webkit-keyframes blink {
  0% {
    color: red;
  }
  20% {
    color: green;
  }
  40% {
    color: red;
  }
  60% {
    color: green;
  }
  80% {
    color: red;
  }
  100% {
    color: green;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 20s linear;
  }
}
@keyframes spin {
  from {
    transform: rota te(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(https://images.unsplash.com/photo-1610204543843-1b78206dadc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hyaXN0bWFzJTIwc3RhcnxlbnwwfHwwfHw%3D&w=1000&q=80);
  background-size: contain;
}
